# Section 1 - Money Markets

No data needed

# Section 2 - Treasury Comps

Data from `Build BB Treasury Comparison,ipynb`

# Section 3 - NVDA Equity

In [1]:
import pandas as pd
from xbbg import blp

In [2]:
TICK = 'NVDA'
TICKS = [TICK,'SPY']
bbticks = [f'{tick} US Equity' for tick in TICKS]

FLDS = 'last_price'

In [3]:
STARTDATE = '2024-06-06'
ENDDATE = '2024-06-11'

data_unadj = blp.bdh(tickers=bbticks, flds=FLDS, start_date=STARTDATE,
                     end_date=ENDDATE, CshAdjNormal=False,CshAdjAbnormal=False, 
                     CapChg=False).droplevel(level=1,axis=1)

data_unadj.index = pd.to_datetime(data_unadj.index)
data_unadj.index.name = 'date'
data_unadj.columns = [s.partition(" ")[0] for s in data_unadj.columns]

In [4]:
STARTDATE = '2020-06-03'
ENDDATE = '2024-06-13'

data_adj = blp.bdh(tickers=bbticks, flds=FLDS, start_date=STARTDATE,
                   end_date=ENDDATE,adjust='all').droplevel(level=1,axis=1)

data_adj.index = pd.to_datetime(data_adj.index)
data_adj.index.name = 'date'
data_adj.columns = [s.partition(" ")[0] for s in data_adj.columns]

In [5]:
data_unadj

               NVDA     SPY
date
2024-06-06  1209.98  534.66
2024-06-07  1208.88  534.01
2024-06-10   121.79  535.66
2024-06-11   120.91  536.95

In [6]:
data_adj

                NVDA       SPY
date
2020-06-03    8.7367  289.4000
2020-06-04    8.7377  288.6398
2020-06-05    8.8907  296.0375
2020-06-08    8.7761  299.6158
2020-06-09    9.0163  297.3817
...              ...       ...
2024-06-07  120.8400  525.7455
2024-06-10  121.7417  527.3699
2024-06-11  120.8719  528.6400
2024-06-12  125.1606  532.9817
2024-06-13  129.5692  534.0549

[1015 rows x 2 columns]

# Export Data

In [7]:
OUTFILE = f'../data/exam_3_data_{TICK}.xlsx'
with pd.ExcelWriter(OUTFILE) as writer:  
    data_unadj.to_excel(writer, sheet_name= f'{TICK} unadjusted', index=True)
    data_adj.to_excel(writer, sheet_name= f'{TICK} adjusted', index=True)